<!DOCTYPE html>
<html>
    <head>
        <style>
            .main-container {
                display: flex;
                flex-direction: column;
            }
            .image-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: fit-content;
                white-space: pre-line;
                padding-bottom: 20px;
            }
            img {
                max-width: 80vh;
            }
        </style>
    </head>
    <body onload="updateRedactedImagesAndText();">
        <h1>REDACTOR PREVIEW</h1>
        <div id="main" class="main-container">
            {{range $element := .Panels}}
                <div class="image-container">
                    <img src={{$element.OriginalImageBase64}} style="padding-right: 20px;"/>
                    <img style="padding-right: 20px;"/>
                    <p></p>
                </div>
            {{end}}
        </div>
    <script>
        function updateRedactedImagesAndText() {
            var i, imageDiv, redacted, text;
            var mainContainer = document.getElementById("main");
            // Array of image-container divs
            var imageContainers = mainContainer.getElementsByTagName("div")
            const url = window.location.hostname + ":" + window.location.port
            for (i = 0; i < imageContainers.length; i++) {
                const http = new XMLHttpRequest();
                var requestURL = "http://" + url + "/img/?panelIndex=" + i.toString();
                http.open("GET", requestURL, false);
                http.send();
                var response = JSON.parse(http.responseText)
                imageDiv = imageContainers[i];
                imageDiv.getElementsByTagName("img")[1].src = response.RedactedImageBase64
                imageDiv.getElementsByTagName("p")[0].innerHTML = response.DetectedText
                console.log(i)
            }
        }
    </script>
    </body>
</html>
