<!DOCTYPE html>
<html>
    <head>
        <style>
            .main-container {
                display: flex;
                flex-direction: column;
            }
            .image-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: fit-content;
                white-space: pre-line;
                padding-bottom: 20px;
            }
            img {
                max-width: 80vh;
            }
        </style>
    </head>
    <body onload="updateRedactedImagesAndText();">
        <h1>REDACTOR PREVIEW</h1>
        <div id="main" class="main-container">
            {{range $element := .Panels}}
                <div class="image-container">
                    <img src={{$element.OriginalImageBase64}} style="padding-right: 20px;"/>
                    <img src="" style="padding-right: 20px;"/>
                    <p></p>
                </div>
            {{end}}
        </div>
    <script>
        function updateRedactedImagesAndText() {
            var i, redacted, text;
            var mainContainer = document.getElementById("main");
            var imageContainers = mainContainer.getElementsByTagName("div")
            const url = window.location.hostname + ":" + window.location.port
            for (i = 0; i < imageContainers.length; i++) {
                const http = new XMLHttpRequest();
                var requestURL = "http://" + url + "/img/?panelIndex=" + i.toString();
                http.open("GET", requestURL, false);
                http.send();
                
                try {
                    var response = JSON.parse(http.responseText);
                    var imageDiv = imageContainers[i].children;
                    imageDiv.item(1).src = response.RedactedImageBase64;
                    imageDiv.item(2).innerHTML = response.DetectedText;
                }
                catch(err) {
                    console.log("Unable to parse JSON data for image number", i+1, ", file might not be of type jpg or png.");
                    console.log(err);
                    continue;
                }
            }
        }
    </script>
    </body>
</html>
