<!DOCTYPE html>
<html>
    <head>
        <style>
            .main-container {
                display: flex;
                flex-direction: column;
            }
            .image-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: fit-content;
                white-space: pre-line;
                padding-bottom: 20px;
            }
            img {
                max-width: 80vh;
            }
        </style>
    </head>
    <body onload="updateRedactedImagesAndText();">
        <h1>REDACTOR PREVIEW</h1>
        <div id="main" class="main-container">
            {{range $element := .Panels}}
                <div class="image-container">
                    <img src={{$element.OriginalImageBase64}} style="padding-right: 20px;"/>
                    <img src={{$element.RedactedImageBase64}} style="padding-right: 20px;"/>
                    <p>{{$element.DetectedText}}</p>
                </div>
            {{end}}
        </div>
    <script>
        function updateRedactedImagesAndText() {
            var i, imageDiv, redacted, text;
            var mainContainer = document.getElementById("main");
            // Array of image-container divs
            var imageContainers = mainContainer.getElementsByTagName("DIV")
            const url = window.location.hostname + ":" + window.location.port
            for (i = 0; i < imageContainers.length; i++) {
                
                const http = new XMLHttpRequest();
                var requestURL = url + "/img/?panelIndex=" + i.toString();
                http.open("GET", requestURL);
                http.send();

                http.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var response = JSON.parse(http.responseText)
                        imageDiv = imageContainers[i];
                        redacted = imageDiv.getElementsByTagName("IMG")[1].src = response.RedactedImageBase64
                        text = imageDiv.getElementsByTagName("P")[0].innerHTML = response.DetectedText
                    }
                }

                // console.log("currently at page: ", url)
                // console.log("current port: ", window.location.port)
                // console.log("at iteration number: ", i)
            }
        }
    </script>
    </body>
</html>
